In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('haryana2.csv')

In [11]:
df

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,haryana,2022-06-13T00:00:00,36.0,35.4,14.0,26.86,0.0,0.0,NaN,0,...,1003.0,50.0,3.0,0.0,NaN,0,10,Partially cloudy,partly-cloudy-night,VIDP
1,haryana,2022-06-13T01:00:00,35.0,34.7,15.0,30.28,0.0,0.0,NaN,0,...,1003.0,50.0,3.0,0.0,NaN,0,10,Partially cloudy,partly-cloudy-night,VIDP
2,haryana,2022-06-13T02:00:00,35.0,34.7,15.0,30.28,0.0,0.0,NaN,0,...,1003.0,50.0,3.0,0.0,NaN,0,10,Partially cloudy,partly-cloudy-night,VIDP
3,haryana,2022-06-13T03:00:00,35.0,34.7,15.0,30.28,0.0,0.0,NaN,0,...,1003.0,50.0,3.0,0.0,NaN,0,10,Partially cloudy,partly-cloudy-night,VIDP
4,haryana,2022-06-13T04:00:00,34.0,33.6,15.0,32.02,0.0,0.0,NaN,0,...,1003.0,50.0,3.0,0.0,NaN,0,10,Partially cloudy,partly-cloudy-night,VIDP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,haryana,2022-06-27T19:00:00,38.5,42.6,20.7,35.88,0.0,23.8,NaN,0,...,996.0,85.1,24.1,292.3,1.1,3,30,Partially cloudy,partly-cloudy-day,NaN
356,haryana,2022-06-27T20:00:00,37.3,41.7,21.3,39.58,0.0,23.8,NaN,0,...,997.0,70.3,24.1,149.7,0.5,0,30,Partially cloudy,partly-cloudy-night,NaN
357,haryana,2022-06-27T21:00:00,36.2,40.8,21.9,43.68,0.5,23.8,rain,0,...,998.0,55.5,24.1,7.0,0.0,0,30,Partially cloudy,partly-cloudy-night,NaN
358,haryana,2022-06-27T22:00:00,35.1,39.6,22.0,46.79,0.0,23.8,NaN,0,...,998.7,48.3,24.1,4.7,0.0,0,30,Partially cloudy,partly-cloudy-night,NaN
359,haryana,2022-06-27T23:00:00,34.0,38.3,22.1,50.15,0.0,23.8,NaN,0,...,999.3,41.1,24.1,2.3,0.0,0,10,Partially cloudy,partly-cloudy-night,NaN

In [12]:
df['Date'] = pd.to_datetime(df['datetime'])

In [13]:
df = df[['Date', 'temp', 'dew', 'humidity', 'windspeed', 'winddir', 'cloudcover', 'visibility']]

In [14]:
df

,Date,temp,dew,humidity,windspeed,winddir,cloudcover,visibility
0,2022-06-13 00:00:00,36.0,14.0,26.86,9.4,230.0,50.0,3.0
1,2022-06-13 01:00:00,35.0,15.0,30.28,9.4,230.0,50.0,3.0
2,2022-06-13 02:00:00,35.0,15.0,30.28,7.6,261.9,50.0,3.0
3,2022-06-13 03:00:00,35.0,15.0,30.28,9.4,270.0,50.0,3.0
4,2022-06-13 04:00:00,34.0,15.0,32.02,9.4,230.0,50.0,3.0
...,...,...,...,...,...,...,...,...
355,2022-06-27 19:00:00,38.5,20.7,35.88,17.0,104.2,85.1,24.1
356,2022-06-27 20:00:00,37.3,21.3,39.58,18.2,113.2,70.3,24.1
357,2022-06-27 21:00:00,36.2,21.9,43.68,19.4,122.3,55.5,24.1
358,2022-06-27 22:00:00,35.1,22.0,46.79,18.4,134.9,48.3,24.1
359,2022-06-27 23:00:00,34.0,22.1,50.15,17.3,147.6,41.1,24.1

In [29]:
df1 = pd.DataFrame(pd.date_range(start='2022-06-13', end='2022-06-27', freq='15min'))

In [30]:
df1

                       0
0    2022-06-13 00:00:00
1    2022-06-13 00:15:00
2    2022-06-13 00:30:00
3    2022-06-13 00:45:00
4    2022-06-13 01:00:00
...                  ...
1340 2022-06-26 23:00:00
1341 2022-06-26 23:15:00
1342 2022-06-26 23:30:00
1343 2022-06-26 23:45:00
1344 2022-06-27 00:00:00

[1345 rows x 1 columns]

In [33]:
df1.rename(columns = {0: 'Date'}, inplace = True)

In [36]:
df2 = df1.merge(df, how='left', left_on='Date', right_on='Date')

In [37]:
df2

,Date,temp,dew,humidity,windspeed,winddir,cloudcover,visibility
0,2022-06-13 00:00:00,36.0,14.0,26.86,9.4,230.0,50.0,3.0
1,2022-06-13 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-13 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-13 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-13 01:00:00,35.0,15.0,30.28,9.4,230.0,50.0,3.0
...,...,...,...,...,...,...,...,...
1340,2022-06-26 23:00:00,35.9,21.5,43.51,23.8,121.9,55.2,24.1
1341,2022-06-26 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1342,2022-06-26 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1343,2022-06-26 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1344,2022-06-27 00:00:00,34.6,23.2,51.64,29.2,110.6,35.9,24.1

In [39]:
df2.ffill(inplace=True)

In [40]:
df2

,Date,temp,dew,humidity,windspeed,winddir,cloudcover,visibility
0,2022-06-13 00:00:00,36.0,14.0,26.86,9.4,230.0,50.0,3.0
1,2022-06-13 00:15:00,36.0,14.0,26.86,9.4,230.0,50.0,3.0
2,2022-06-13 00:30:00,36.0,14.0,26.86,9.4,230.0,50.0,3.0
3,2022-06-13 00:45:00,36.0,14.0,26.86,9.4,230.0,50.0,3.0
4,2022-06-13 01:00:00,35.0,15.0,30.28,9.4,230.0,50.0,3.0
...,...,...,...,...,...,...,...,...
1340,2022-06-26 23:00:00,35.9,21.5,43.51,23.8,121.9,55.2,24.1
1341,2022-06-26 23:15:00,35.9,21.5,43.51,23.8,121.9,55.2,24.1
1342,2022-06-26 23:30:00,35.9,21.5,43.51,23.8,121.9,55.2,24.1
1343,2022-06-26 23:45:00,35.9,21.5,43.51,23.8,121.9,55.2,24.1
1344,2022-06-27 00:00:00,34.6,23.2,51.64,29.2,110.6,35.9,24.1

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345 entries, 0 to 1344
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1345 non-null   datetime64[ns]
 1   temp        1345 non-null   float64
 2   dew         1345 non-null   float64
 3   humidity    1345 non-null   float64
 4   windspeed   1345 non-null   float64
 5   winddir     1345 non-null   float64
 6   cloudcover  1345 non-null   float64
 7   visibility  1345 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 94.6 KB

In [44]:
df2.to_csv('processed_future_data.csv')

In [4]:
def preprocess_new_weather_data(rawfilename, start_date, end_date):
    df = pd.read_csv(rawfilename)
    df['Date'] = pd.to_datetime(df['datetime'])
    df = df[['Date', 'temp', 'dew', 'humidity', 'windspeed', 'winddir', 'cloudcover', 'visibility']]
    df1 = pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq='15min'))
    df2 = df1.merge(df, how='left', left_on='Date', right_on='Date')
    df2.ffill(inplace=True)
    return df2